@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Roboto;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.125rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.page__container {
  display: flex;
  flex-direction: column;
  align-items: center
}
.page {
  position: relative
}
.page__bg::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(5,6,51,.3960784314)
}
.page__bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1;
  -o-object-fit: cover;
  object-fit: cover
}
.page__content {
  padding: .625rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: .9375rem;
  line-height: 1.3333333333;
  position: relative
}
.page__content span {
  position: relative
}
.page__content span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: .0625rem;
  left: 0;
  bottom: -.125rem;
  background-color: #fff
}
.page__photo {
  position: relative;
  max-width: 100%;
  width: 22.0625rem;
  height: 31.25rem
}
.page__photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
  object-fit: contain
}
@media (min-width:75em) {
  .page__content {
    padding-top: 3.75rem
  }
  .page__content {
    padding-bottom: 3.75rem
  }
}
@media (max-width:20em) {
  .page__content {
    padding-top: 1.875rem
  }
  .page__content {
    padding-bottom: 1.875rem
  }
}
@media (min-width:20em)and (max-width:75em) {
  .page__content {
    padding-top: clamp(1.875rem ,1.1931818182rem + 3.4090909091vw ,3.75rem)
  }
  .page__content {
    padding-bottom: clamp(1.875rem ,1.1931818182rem + 3.4090909091vw ,3.75rem)
  }
}